body,
html {
  background-color: #e9e9f1;
  height: 100%;
}
.text-color {
  color: #868686;
}
.scrollbar::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 13px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 40px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.chat-header-content {
  width: 100%;
  height: 100%;
}
.chat-header-nickname {
  height: 50%;
  line-height: 1.6;
  font-size: 14px;
}
.chat-header-online {
  height: 50%;
  line-height: 1.5;
  font-size: 12px;
}
.chat-view {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 44px 0 40px 0;
  position: fixed;
}
.chat-view-wrap {
  transition: all .5s;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.input_area {
  background-color: #e9e9f1;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 3px 0 3px 5px;
}
.input_area-input-wrap {
  width: 100%;
  padding-right: 60px;
}
.input_area-input-wrap2 {
  width: 100%;
  padding: 7px 10px;
  background-color: #fff;
  border-radius: 4px;
}
.input_area-input {
  width: 100%;
  min-height: 20px;
  max-height: 80px;
  font-size: 15px;
  word-wrap: break-word;
  outline: none;
  line-height: 20px;
  overflow-y: auto;
}
.input_area-btn-wrap {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 5px;
}
.input_area-btn {
  width: 100%;
  height: 100%;
  background-color: #EA5A49;
  color: #fff;
  text-align: center;
  line-height: 34px;
  border-radius: 4px;
}
.chat-box {
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  position: relative;
}
.chat-box-avatar {
  width: 40px;
  height: 40px;
}
.chat-box-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.chat-box-content {
  margin-top: 20px;
  max-width: 65%;
  text-align: justify;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.chat-box-time {
  position: absolute;
  top: 0;
  font-size: 12px;
  line-height: 16px;
}
.chat-box.left .chat-box-avatar {
  float: left;
}
.chat-box.left .chat-box-content {
  float: left;
  margin-left: 15px;
}
.chat-box.left .chat-box-content:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -18px;
  top: 10px;
  border-width: 10px 12px 10px 10px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.chat-box.left .chat-box-time {
  left: 65px;
}
.chat-box.right .chat-box-avatar {
  float: right;
}
.chat-box.right .chat-box-content {
  float: right;
  margin-right: 15px;
}
.chat-box.right .chat-box-content:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -18px;
  top: 10px;
  border-width: 10px 10px 10px 12px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
.chat-box.right .chat-box-time {
  right: 65px;
}
.chat-box-bottom {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}
