body,
html {
  background-color: #e9e9f1;
  height: 100%;
}
.text-color {
  color: #868686;
}
.scrollbar::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 13px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 40px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.header {
  background-color: #EA5A49;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-back {
  position: absolute;
  width: 30px;
  height: 100%;
  left: 10px;
  top: 0;
}
.header-back .iconfont {
  font-size: 20px;
}
.header-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 10px;
  top: 0;
  font-size: 24px;
}
.view-wrap {
  margin-top: 44px;
  padding-top: 30px;
  overflow: hidden;
}
.home-header {
  width: 100%;
  height: 44px;
  line-height: 44px;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #EA5A49;
  z-index: 100;
}
.home-header-avatar {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 10px;
  top: 0;
  padding: 5px;
}
.home-header-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.home-header-plus {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 10px;
  top: 0;
  font-size: 34px;
  color: #fff;
}
.button-bar {
  font-size: 12px;
  width: 140px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #fff;
  line-height: 26px;
  color: #fff;
  margin: 8px auto;
}
.button-bar-item {
  width: 50%;
  display: block;
  float: left;
  height: 100%;
}
.button-bar-item:first-of-type {
  border-right: 1px solid #fff;
}
.button-bar-item.active {
  background-color: #fff;
  color: #EA5A49;
}
.message-list-item {
  position: relative;
  width: 100%;
  height: 48px;
}
.message-list-content {
  width: 100%;
  height: 100%;
  padding-left: 63px;
}
.message-list-avatar {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 0;
  top: 0;
}
.message-list-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.message-list-text {
  line-height: 24px;
  position: relative;
}
.message-list-text.has-tip {
  padding-right: 38px;
}
.message-list-nickname {
  font-size: 15px;
}
.message-list-tip {
  position: absolute;
  right: 0;
  top: 50%;
  height: 16px;
  background-color: red;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding: 0 6px;
  margin-top: -8px;
  border-radius: 16px;
}
.message-list-value {
  color: #868686;
}
.home-search {
  width: 100%;
  padding: 10px;
}
.home-search-wrap {
  background-color: #d4d4d4;
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
}
.home-search-wrap .iconfont {
  font-size: 14px;
}
.contact-item {
  margin-top: -1px;
}
.contact-item-fold {
  width: 100%;
  height: 20px;
  line-height: 20px;
  position: relative;
}
.contact-item-fold-title {
  padding-left: 20px;
}
.contact-item-fold-arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0;
  text-align: left;
  line-height: 22px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform-origin: 40% 40%;
}
.contact-item-fold-arrow.active {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.contact-item-fold-count {
  position: absolute;
  height: 20px;
  width: auto;
  right: 0;
  top: 0;
  line-height: 20px;
}
.contact-item-user {
  height: 30px;
  width: 100%;
  position: relative;
}
.contact-item-user-avatar {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
}
.contact-item-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.contact-item-user-content {
  padding-left: 45px;
  line-height: 30px;
}
.contact-item-user-status {
  position: absolute;
  height: 30px;
  width: auto;
  right: 0;
  top: 0;
  line-height: 30px;
}
.contact-item-user-statusTip {
  background-color: #e9e9f1;
  padding: 2px 8px;
  border-radius: 4px;
  color: #848484;
  font-size: 12px;
}
.contact-item-user-statusTip.online {
  background-color: #EA5A49;
  color: #fff;
}
